@{
    ViewData["Title"] = "Add Authors";
}

<h1>Add Author</h1>

<form method="post">
    <label>Name</label>
    <input class="form-control" name="Name" />

    <label>Biography</label>
    <textarea class="form-control" name="Biography"></textarea>

    <button class="btn btn-success mt-3">Save</button>
</form>
