@model Library.Models.Entities.Book

@{
    ViewData["Title"] = "Books";
}


<h1>Add Book</h1>

<form method="post" enctype="multipart/form-data">

    <label>Title</label>
    <input class="form-control" name="Title" />

    <label>Author</label>
    <select class="form-control" name="AuthorId">
        @foreach (var a in ViewBag.Authors)
        {
            <option value="@a.Id">@a.Name</option>
        }
    </select>

    <label>Category</label>
    <select class="form-control" name="CategoryId">
        @foreach (var c in ViewBag.Categories)
        {
            <option value="@c.Id">@c.Name</option>
        }
    </select>

    <label>Cover</label>
    <input type="file" class="form-control" name="cover" />

    <button class="btn btn-success mt-3">Save</button>

</form>